<!DOCTYPE HTML>
<!--
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>
Search | Favorlang
</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='css/fonts.css' rel='stylesheet' type='text/css'>
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    
<script src="js/custom.js"></script>
<!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->
<script src="js/vue/vue.js"></script>
<script src="js/vue/vue-resource@1.5.1.js"></script>
<link rel="stylesheet" href="css/style-dict.css">
<link rel="stylesheet" href="css/style-app.css">

</head>



<body class="no-sidebar">



	<!-- Header -->
	<div id="header">
		<div class="container">
			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">虎尾壟語字典</a></h1>
				<span>Favorlang Dictionary Transcribed</span>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="index.html">
						首頁 <br>Home
					</a></li>
					<li><a href="intro.html">
						簡介 <br>Intro
					</a></li>
					<li><a href="dict.html">
						字典 <br>Dict
					</a></li>
					<li><a href="search.html">
						電子檢索 <br>Search
					</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
                
<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>字典檢索</h2>
            <span class="byline">Search Favorlang Dictionary</span>
        </header>

        <!-- Vue.js App  -->
        <div class="vue-app" id="app">

            <input type="text" placeholder="Item" v-model.lazy="search.lemma">
            <input type="text" placeholder="Definition" v-model.lazy="search.ori">
            <input type="text" placeholder="中文釋義" v-model.lazy="search.chinese">
            <span class="exact-match" v-bind:title="checkbox_msg">
                Exact Match:
                <input type="checkbox" v-model="exact">
            </span>

            <div class="dict">
                <div v-for="(entry, idx) in filterGeneric" class="item">
                    <div class="lemma">[[ entry.lemma ]]</div>
                    <span class="page">[[ entry["ori-page"] ]]</span>
                    <p class="zh-def">[[ entry["zh-def"] ]]</p>
                    <p class="ori-def">[[ entry["ori-def"] ]]</p>
                </div>
            </div>
        </div>
        <!-- Vue.js App End -->
    </section>
</div>

<!-- ######## Vue.js #######-->
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],

        el: '#app',
        data() {
            return {
                entries: [],
                search: {
                    lemma: "",
                    lemma_norm: "",
                    ori: "",
                    ori_norm: "",
                    chinese: "",
                },
                exact: false,
                checkbox_msg: "Uncheck to ignore uppercase & diacritics",
            }
        },
        created() {
            this.$http.get('https://favorlanglang.github.io/dict/dict-normalized.json').then(function (data) {
                this.entries = data.body;
            });
        },
        computed: {
            filterGeneric: function () {
                if (this.search.lemma != "") return this.filterLemma;
                if (this.search.ori != "") return this.filterDef;
                if (this.search.chinese != "") return this.filterZhDef;

                return this.entries.slice(0, 5);
            },
            filterLemma: function () {
                return this.entries.filter(entry => {
                    if (this.exact)
                        return entry.lemma.includes(this.search.lemma);
                    else
                        return entry.lemma_norm.includes(this.search.lemma_norm);
                });
            },
            filterDef: function () {
                return this.entries.filter(entry => {
                    if (this.exact)
                        return entry['ori-def'].includes(this.search.ori);
                    else
                        return entry['ori-def_norm'].includes(this.search.ori_norm);
                });
            },
            filterZhDef: function () {
                return this.entries.filter(entry => {
                    return entry['zh-def'].includes(this.search.chinese);
                });
            }
        },
        filter: {
            normStr: function(str) {
                return str.trim().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
            }
        },
        watch: {
            "search.lemma": function() {
                this.search.lemma_norm = this.search.lemma.trim().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            },
            "search.ori": function() {
                this.search.ori_norm = this.search.ori.trim().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            },
        }
    })
</script>


			</div>
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="4u">
					<section>
						<h2>Latest Posts</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Ultrices fringilla</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Aenean elementum</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			Maintainer: <a href="https://yongfu.name">Yongfu Liao</a>&nbsp;&nbsp;Source code: <a href="https://github.com/favorlanglang">GitHub</a>
		</div>
	</div>

</body>
</html>