{% extends "base.html" %}

{% block title %}
    Intro | Favorlang
{% endblock %}

{% block script %}
    <script src="js/custom.js"></script>
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" class="12u skel-cell-important">
    {% for section in sections %}
        <section>
            <header>
                <h2>{{ section['title'] }}</h2>
                <span class="byline">{{ section['subtitle'] }}</span>
            </header>
            {{ section['content'] }}
        </section>
    {% endfor %} 
</div>
{% endblock %}